body {
    font-family: "Manrope", sans-serif;
}

h2 {
    font-weight: 800;
    text-align: center;
}

.filter-btn {
    border: none;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    color: black;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    border-radius: 20px;
}

.filter-btn:hover {
    background-color: rgb(255, 102, 0);
    color: white;
}

.buttonscontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 1fr;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.item-price {
    color: rgb(255, 102, 0);
}

@media only screen and (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .imgdiv {
        height: 185px;
    }
}

@media only screen and (min-width: 900px) {
    .menu-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .imgdiv {
        height: 200px;
    }
}

.item-photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-item {
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
}

.item-desc {
    padding: 10px;
}